@tailwind base;

@layer base {
  /* @font-face: {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'), url('/fonts/ProximaNova-Regular.woff') format('woff');
  };

  @font-face: {
    font-family: 'Proxima Nova Bold';
    font-weight: 700;
    src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'), url('/fonts/ProximaNova-Bold.woff') format('woff');
  }; */
}