/* GLOBAL VARIABLES: These variables are used in the preset.  */

:root {
  --app-primary-color: #3944AD;
  --app-secondary-color: #8792FF;
  --app-accent-color: #33963F;
  --app-accent-secondary-color: #266c2e;
  --app-text-color: #1e293b;
  --app-bg-color: #ffffff;
  --app-heading-color: #334155;
  --app-link-color: #828DF5; /* link-color:  change currently set to --secondary-color */
  --app-white-color: #ffffff;
  --app-black-color: #000000;
  --app-font-stack: 'Roboto', Helvetica, sans-serif;
}

/* Light mode colors */
html {
  --app-primary: var(--app-primary-color);
  --app-secondary: var(--app-secondary-color);
  --app-accent: var(--app-accent-color);
  --app-accent-secondary: var(--app-accent-secondary-color);
  --app-text: var(--app-text-color);
  --app-background: var(--app-bg-color);
  --app-heading: var(--app-heading-color);
  --app-link: var(var(--app-link-color));
  --app-white: var(--app-white-color);
  --app-black: var(--app-black-color);
  --app-stack: var(--app-font-stack);
}

/* Dark mode colors */
html[data-theme='dark'] {
  --app-primary: var(--app-primary-color);
  --app-secondary: var(--app-secondary-color);
  --app-accent: var(--app-accent-color);
  --app-accent-secondary: var(--app-accent-secondary-color);
  --app-text: var(--app-text-color);
  --app-background: var(--app-bg-color);
  --app-heading: var(--app-heading-color);
  --app-link: var(var(--app-link-color));
  --app-white: var(--app-white-color);
  --app-black: var(--app-black-color);
  --app-stack: var(--app-font-stack);
}